body {
    background-color: aqua;
    border: 10px 20px;
    table-layout: auto;
    align-items: center;
    
    
    
}
div {
    width: 300px;
    


}
 
img {
    width: 100px;
    padding-left: 43%;
    padding-right: none;
    padding-top: none;
    

}
h1 {
    text-align: center;
}
table {
    width: 1300px;
    padding-left: 10px; 
    height: 200px;
}